/* Importing local fonts */
@import url("./fonts.css");

/* Custom variables */
:root {
  /* Colors */
  --primary-color: ;
  --secondary-color: ;
  --light-color: ;
  --dark-color: ;
  --white-color: #ffffff;
  --black-color: #000000;

  /* fonts */
  --primary-font: "Poppins", sans-serif;

  /* transitions */
  --trans-3s: all 0.3s ease;
  --trans-5s: all 0.5s ease;

  /* spacings */
  --spacing-1: 0.25rem; /* 4px */
  --spacing-2: 0.5rem; /* 8px */
  --spacing-3: 1rem; /* 16px */
  --spacing-4: 1.5rem; /* 24px */
  --spacing-5: 2rem; /* 32px */
  --spacing-6: 3rem; /* 48px */
  --spacing-7: 6rem; /* 96px */

  /* Box-shadow */
  --shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.3);
  --shadow-2: rgba(0, 0, 0, 0.075) 0 1px;

  /* typography size */
  --ty-size-h1: 2.125rem; /* 34px */
  --ty-size-h2: 1.6rem; /* 25.6px */
  --ty-size-h3: 1.25rem; /* 20px */
  --ty-size-p: 1rem; /* 16px */
}

/* Resets */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: var(--primary-font);
}

body {
  background-color: var(--white-color);
  color: var(--black-color);
}

h1 {
  font-size: var(--ty-size-h1);
  font-weight: 700;
}

h2 {
  font-size: var(--ty-size-h2);
  font-weight: 700;
}

h3 {
  font-size: var(--ty-size-h3);
  font-weight: 500;
}

p,
a,
button {
  font-size: var(--ty-size-p);
  font-weight: 500;
}

/* Header Style */
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: var(--spacing-3);
  margin-top: var(--spacing-5);
  -webkit-box-shadow: var(--shadow-2);
  box-shadow: var(--shadow-2);
}

.btn-header-container {
  margin-top: var(--spacing-2);
}

.btn-header-container button {
  padding: var(--spacing-1);
  margin: var(--spacing-1);
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  padding-inline: var(--spacing-5);
  color: var(--white-color);
  height: var(--spacing-6);
  line-height: var(--spacing-4);
  background-size: 300% 100%;
  letter-spacing: 2px;
  border: 0;
  border-radius: var(--spacing-6);
  -webkit-transition: var(--trans-3s);
  -o-transition: var(--trans-3s);
  transition: var(--trans-3s);
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.btn-header-container button:active {
  -webkit-transform: scale(0.95);
  -ms-transform: scale(0.95);
  transform: scale(0.95);
}

.btn-header-container .lock-icon {
  font-size: var(--ty-size-h3);
  margin-right: var(--spacing-1);
}

.generate-btn {
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#29323c),
    color-stop(#485563),
    color-stop(#2b5876),
    to(#4e4376)
  );
  background-image: -o-linear-gradient(
    left,
    #29323c,
    #485563,
    #2b5876,
    #4e4376
  );
  background-image: linear-gradient(
    to right,
    #29323c,
    #485563,
    #2b5876,
    #4e4376
  );
  -webkit-box-shadow: 0 4px 10px 0 #2d3641bf;
  box-shadow: 0 4px 10px 0 #2d3641bf;
}

.save-btn {
  margin-right: var(--spacing-1);
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#25aae1),
    color-stop(#4481eb),
    color-stop(#04befe),
    to(#3f86ed)
  );
  background-image: -o-linear-gradient(
    left,
    #25aae1,
    #4481eb,
    #04befe,
    #3f86ed
  );
  background-image: linear-gradient(
    to right,
    #25aae1,
    #4481eb,
    #04befe,
    #3f86ed
  );
  -webkit-box-shadow: 0 4px 10px 0 #4184eabf;
  box-shadow: 0 4px 10px 0 #4184eabf;
}

.generate-btn ion-icon,
.save-btn ion-icon {
  margin-right: var(--spacing-1);
}

.btn-header-container button:hover {
  -webkit-box-shadow: 0 0px 0px 0 #31c4bebf;
  box-shadow: 0 0px 0px 0 #31c4bebf;
}

/* Main style */
.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: calc(100vh - 179.4px);
  width: 100vw;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  position: relative;
}

.color-container {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 40%;
  flex: 1 1 40%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
}

.color-container > * {
  margin: var(--spacing-2);
}

.color-container .lock-icon,
.color-container .color-code {
  font-size: var(--ty-size-h2);
}

.color-container .lock-icon,
.color-container .color-code {
  padding: var(--spacing-2);
  cursor: pointer;
}

.color-container .lock-icon:hover,
.color-container .color-code:hover {
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  -webkit-transition: var(--trans-3s);
  -o-transition: var(--trans-3s);
  transition: var(--trans-3s);
}

.color-container .lock-icon {
  visibility: hidden;
}

.color-container .color-name {
  position: absolute;
  margin: 0;
  font-size: 12px;
  bottom: 40%;
}

.color-container:hover .lock-icon {
  visibility: visible;
  -webkit-transition: var(--trans-3s);
  -o-transition: var(--trans-3s);
  transition: var(--trans-3s);
}

/* Copy feedback */
.popup {
  position: absolute;
  bottom: -10%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  color: var(--white-color);
  background-color: var(--black-color);
  padding: var(--spacing-3);
  border-radius: 10px;
  -webkit-transition: var(--trans-5s);
  -o-transition: var(--trans-5s);
  transition: var(--trans-5s);
  text-align: center;
  display: none;
}

/* Js classes */
.isLocked {
  transform: scale(1.2);
  visibility: visible !important;
}

.show {
  display: block;
  transition: var(--trans-5s);
  bottom: 2%;
  opacity: 0;
  -webkit-animation: fade-in 1.5s ease forwards, fade-out 3s 0s ease forwards;
  animation: fade-in 1.5s ease forwards, fade-out 3s 0s ease forwards;
}

.div-color-1 {
  background-color: #ebf5fc;
}

.div-color-2 {
  background-color: #765d2b;
}

.div-color-3 {
  background-color: #762b58;
}

.div-color-4 {
  background-color: #2b7670;
}

.div-color-5 {
  background-color: #47762b;
}

/* Keyframes */
@-webkit-keyframes fade-in {
  100% {
    opacity: 1;
  }
}

@keyframes fade-in {
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* Media queries - From Desktop to Mobile */
/* Largest devices (1600px and down) */
@media only screen and (max-width: 100rem) {
}

/* Exxtra Large devices (1400px and down) */
@media only screen and (max-width: 87.5rem) {
  .header {
    margin-top: var(--spacing-2);
  }
  .main {
    height: calc(100vh - 153.4px);
  }
}

/* Extra Large devices (1200px and down) */
@media only screen and (max-width: 75rem) {
}

/* Large devices (992px and down) */
@media only screen and (max-width: 62rem) {
}

/* Medium devices (768px and down) */
@media only screen and (max-width: 48rem) {
  .color-container .color-code {
    font-size: var(--ty-size-h3);
  }
}

/* Small devices (576px and down) */
@media only screen and (max-width: 36rem) {
  :root {
    --ty-size-h1: 2rem;
  }

  .main {
    height: calc(100vh - 193.2px);
    flex-direction: column;
  }

  .btn-header-container {
    display: flex;
    flex-direction: column;
    margin-bottom: var(--spacing-2);
  }

  .btn-header-container button {
    padding: var(--spacing-1);
    margin-bottom: var(--spacing-2);
    height: var(--spacing-5);
    background-size: 300% 100%;
    padding-inline: var(--spacing-4);
    letter-spacing: 1.5px;
  }

  .main .color-container {
    flex-direction: row-reverse;
    justify-content: space-between;
    padding-inline: var(--spacing-4);
  }

  .color-container .lock-icon {
    visibility: visible;
  }

  .color-container .color-name {
    left: 7.1%;
    bottom: 25%;
  }

  .popup {
    padding: var(--spacing-1);
  }
}
